<section id="search">
    <form action="/books" method="GET">
    <label>
        <h3>Search for book:</h3>
        <input type="text" name="bookSearch" placeholder="What book are you looking for?" />
    </label>

        <button>Search</button>
    </form>